html, body {
  min-width: 100%;
  overflow-x: scroll;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  /* margin: 0 20px; */
}

div.box-normal {
  flex: none;
  width: 400px !important;
  height: 200px;
  border: 5px solid black;
  margin: 10px 5px;
  text-align: center;
  color: black;
  font-size: 2em;
  background-color: yellow;
}