#p-id {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: red;
}

.p-class {
    font-weight: 600;
    text-align: center;
    color: red;
}

.container p {
    font-weight: 600;
    text-align: center;
    color: red;
}